* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: black;

}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.frame span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5vw;
    font-size: 3vw;
    padding: 0 5vw;
    font-weight: 700;
    transform: translateY(-5vw);
}

.frame {
    z-index: 1;
    overflow: hidden;
    height: 5vw;
}

#circle {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
    background-color: blue;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#frames {
    display: flex;
    gap: 20px;
}